

@model bsis3a_webapp.Models.item

<div class="mt-4">
  <div class="row">
      <div class="col-12">
          <h2>Update Item</h2>
      </div>
  </div>
<form method="post">
    <input asp-for="Id" hidden>
  <div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Update</button> 
  <a asp-action="Index" class="btn btn-success" >Back</a>
</form>

</div>

